{% extends 'layout.html' %}
{% load static %}
{% block title %}
    <title>Learn To Earn</title>
{% endblock%}

{% block content %}
	
	<div class="all-title-box">
		<div class="container text-center">
			<h1>About Us<span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span></h1>
		</div>
	</div>
	
    <<div id="overviews" class="section wb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3>About</h3>
                    <p class="lead">Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem!</p>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h4>Learn To Earn Learning Platform</h4>
                        <h2>Welcome to Learn To Earn </h2>
                        <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>

                        <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis montes, nascetur ridiculus mus. Sed vitae rutrum neque. </p>

                        <a href="#" class="hover-btn-new orange"><span>Learn More</span></a>
                    </div>
                </div>

				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="{% static 'images/about_02.jpg'%}" alt="" class="img-fluid img-rounded">
                    </div>
                </div>
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="{% static 'images/about_03.jpg'%}" alt="" class="img-fluid img-rounded">
                    </div>
                </div>

				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h2>Lorem ipsum dolor sit amet, consectetur </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                        <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum.</p>

                        <a href="#" class="hover-btn-new orange"><span>Learn More</span></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
	
	<div class="hmv-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-achievement"></i></div>
						<h3>Mission</h3>
						<div class="tr-pa">M</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eligendi expedita, provident cupiditate in excepturi.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eligendi expedita, provident cupiditate in excepturi.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-eye"></i></div>
						<h3>Vision</h3>
						<div class="tr-pa">V</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eligendi expedita, provident cupiditate in excepturi.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eligendi expedita, provident cupiditate in excepturi.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-history"></i></div>
						<h3>History</h3>
						<div class="tr-pa">H</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eligendi expedita, provident cupiditate in excepturi.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eligendi expedita, provident cupiditate in excepturi.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div id="testimonials" class="parallax section db parallax-off" style="background-image:url('{% static 'images/parallax_04.jpg'%}');">
        <div class="container">
            <div class="section-title text-center">
                <h3>Testimonials</h3>
                <p>Lorem ipsum dolor sit aet, consectetur adipisicing lit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="testi-carousel owl-carousel owl-theme">
                        <div class="testimonial clearfix">
							<div class="testi-meta">
                                <img src="{% static 'images/testi_01.jpg'%}" alt="" class="img-fluid rounded-circle">
                                <h4>Ambica Adhikari </h4>
                            </div>
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Wonderful Support!</h3>
                                <p class="lead">Babbal Dami support xa! I just needed this type of website in myh life.</p>
                            </div>

                        </div>


                        <div class="testimonial clearfix">
							<div class="testi-meta">
                                <img src="{% static 'images/testi_02.jpg'%}" alt="" class="img-fluid rounded-circle">
                                <h4>Basanta Banjara </h4>
                            </div>
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Excellent!</h3>
                                <p class="lead">J xa dami xa</p>
                            </div>

                        </div>

                        <div class="testimonial clearfix">
							<div class="testi-meta">
                                <img src="{% static 'images/testi_03.jpg'%}" alt="" class="img-fluid rounded-circle">
                                <h4>Ishmarika Shah </h4>
                            </div>
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Excellent!</h3>
                                <p class="lead">J xa dami xa</p>
                            </div>

                        </div>

                        <div class="testimonial clearfix">
							<div class="testi-meta">
                                <img src="{% static 'images/testi_04.jpg'%}" alt="" class="img-fluid rounded-circle">
                                <h4>Nishma </h4>
                            </div>
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Excellent!</h3>
                                <p class="lead">J xa dami xa</p>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
